[submodule "modules/open-core-hx"]
	path = modules/open-core-hx
	url = git@github.com:ImaginationSydney/ImaginationHx.git
	branch = proj/HAAR
	internal = true
[submodule "modules/wiki"]
	path = modules/wiki
	url = https://github.com/TomByrne/ParseSpod.wiki.git
